.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  width: 60.8%;
}
.contactTxt {
  font-weight: 600;
}
.contactTxt h1 {
  font-size: 72px;
}
.contactTxt h1 > span {
  color: #a966ff;
}
.labelInputCont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.labelInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 48%;
}
.labelInput input {
  width: 94%;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;
  
}

.labelInput1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 98.2%;
}
.labelInput1 input {
  width: 97.5%;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;
}
.purposeArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 98.2%;
}
.commentArea {
  resize: none;
  width: 97%;
  height: 193px;
  border-radius: 10px;
  padding: 10px;
}
.types {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.typesContetnt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}
.radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
  /* width: 20%; */
}
.btn button {
  width: 153px;
  height: 56px;
  border: none;
  background-color: #7000ff;
  border-radius: 30px;
  padding: 16px 16px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .container{
    width: 80.8%;
  }
  .contactTxt h1 {
    font-size: 30px;
  }
  .labelInput {
    width: 94%;
  }
  .labelInput1{
    width: 90%;
  }
  .commentArea{
    width: 90%;
  }
}
